/* BACKGROUND CON LA TEXTURE PAGINA ORIZZONTALE */
.page-background {
  background: url("/page-bg.svg");
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.page-background-home {
  background: url("/page-bg.svg");
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-position: bottom center;
  border: 1px solid #e6d7b8;
}

.page-background-v {
  background-image: url("/page-bg.svg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
/* CURSOR POINTER */
.pointer {
  cursor: pointer;
}

/* NAVBAR */
.navbar-color {
  background-color: #4a3f35 !important;
  color: #f2e8cf !important;
}
.navbar-color .navbar-nav .nav-link,
.navbar-color .navbar-brand {
  color: #f2e8cf !important;
}

.navbar-color .navbar-nav .nav-link:hover,
.navbar-color .navbar-brand:hover,
.navbar-color .navbar-nav .nav-link.active,
.navbar-color .navbar-brand.active {
  color: #e6b800 !important;
}

.dropdown-taccuino .dropdown-menu .dropdown-item.active,
.dropdown-taccuino .dropdown-menu .dropdown-item:active {
  background-color: #f5f1ea !important;
  color: #4a3f35 !important;
}
.dropdown-taccuino .dropdown-menu .dropdown-item:hover {
  background-color: #e6b800 !important;
  color: #4a3f35 !important;
}

/* FOOTER */
.footer-color {
  background-color: #3b332c;
  color: #f2e8cf;
}
.link {
  color: #d8c79a;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  color: #e6b800;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.5);
}
/* TESTI */
.handwritten {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  color: #4a3f35;
}
/* testo colore oro */
.oro {
  color: #e6b800;
  font-weight: 600;
}

.bg-oro {
  background-color: #e6b800;
  color: #4a3f35;
}
/* FORM */
/* form login */
.page-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 420px;
  min-height: 40vh;
  max-height: 90vh;
  margin: 5vh auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-y: auto; /* scroll se il contenuto straborda */
}
.page-bg p {
  line-height: 1.4;
}

/* form registrazione */
.form-bg {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 420px;
  min-height: 50vh;
  max-height: 90vh;
  margin: 5vh auto;
  padding: 30px;
  padding-bottom: 60px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
/* MESSAGGI DI ERRORE  */
.messages-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.messages-col {
  max-width: 420px;
}

/* Mobile */
@media (max-width: 576px) {
  .page-bg {
    padding: 24px;
    max-width: 340px;
    min-height: 40vh;
    max-height: 60vh;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .page-bg {
    max-width: 380px;
    min-height: 50vh;
    max-height: 90vh;
  }
}

/* PER IL COMPONENT GALLERY */

/* con l'overflow hidden non si vedono le immagini che "escono" dai bordi dello schermo */
.gallery {
  overflow: hidden;
  width: 100%;
}
.scorrimento {
  display: flex;
  gap: 24px;
  width: max-content;
  /* animazione di scroll sempre alla stessa velocità e si ripete all'infinito*/
  animation: scroll 40s linear infinite;
}

.gallery-item {
  width: 240px;
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 12px;
}
.gallery-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

/* Animazione dello scorrimento da destra a sinistra */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  /* Ho duplicato le immagini, sposto lo scorrimento a -50% che è la metà con le immagini duplicate*/
  100% {
    transform: translateX(calc(-50% - 12px));
  }
}
/* HOME */

/* Container cliccabili */
.blockquote {
  border-radius: 12px;
  border: 1px solid #e6d7b8;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.clickable-container {
  cursor: pointer;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #e6d7b8;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.clickable-container:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}
/* PULSANTI */
/* BUTTON IN STILE CERALACCA */
.wax {
  background: #ce0000;
  background: -moz-radial-gradient(center, #ce0000 0%, #a60000 100%);
  background: -webkit-radial-gradient(center, #ce0000 0%, #a60000 100%);
  background: radial-gradient(ellipse at center, #ce0000 0%, #a60000 100%);
  border: 7px double #c50000;
  border-radius: 50%;
  padding: 20px 10px;
  color: white;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.5),
    0 6px 12px rgba(0, 0, 0, 0.4);
  min-width: 80px;
  min-height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.wax:hover {
  transform: scale(1.07);
  box-shadow:
    inset 0 0 6px rgba(0, 0, 0, 0.6),
    /* incavo uniforme */ 0 4px 8px rgba(0, 0, 0, 0.4); /* ombra esterna */
}

.wax:active {
  transform: scale(0.95);
}

/* PROFILO PERSONALE */
.profile-layout {
  overflow-x: hidden;
}

/* Avatar profilo */
.polaroid-card {
  width: 100%;
  max-width: 220px;
  border: none;
  background: #fff;
  padding: 10px 10px 20px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 8px 20px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  margin: 0 auto;
}

.polaroid-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
}

.polaroid-caption {
  margin-top: 10px;
  font-size: 1.1rem;
}
/* Medaglie del profilo */
.medaglia-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.medaglia-icona {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.35));
}
.list-group-item {
  overflow-x: hidden;
}
/* PAGINA ESPLORA */
.selected-monumento {
  background-color: #f0ede6 !important;
  border-left: 6px solid #e6b800 !important;
  font-weight: 600 !important;
  transition: all 0.25s ease !important;
}
/* card che contiene l'immagine del monumento */
.card-monumento {
  height: 350px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fffdf7;
  display: flex;
  align-items: stretch;
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex: 1;
}

/* Placeholder per quando l'img non è presente */
.placeholder-foto {
  width: 100%;
  height: 100%;
  background: #f0ede6;
  border: 2px dashed #d8c79a;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: #6b5e52;
  display: flex; /* per centrare */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Mobile */
@media (max-width: 768px) {
  .placeholder-foto {
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .card-monumento {
    max-width: 100%;
  }
}

/* PAGINA ADMIN */
.lista {
  cursor: pointer;
  padding: 10px 0;
  font-size: 1.2rem;
  border: none;
  background: transparent;
}

.lista:hover {
  color: black;
}

.active-lista {
  font-weight: bold;
  color: black;
  border-left: 4px solid #c9a86a !important;
  padding-left: 8px;
}
/* TABS */

.tabs-linguette .nav-link {
  background: #f2e8cf;
  border: 1px solid #d6c7a1;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  padding: 10px 18px;
  color: #4a3f35;
  font-weight: 600;
  margin-right: 6px;
}

.tabs-linguette .nav-link.active {
  background: #fff;
  border-bottom: 2px solid #fff;
}

.tabs-linguette .nav-tabs {
  border-bottom: 2px solid #d6c7a1;
}

/*  */
.istruzioni {
  max-width: "400px";
  width: "100%";
  margin: "0 auto";
  text-align: "justify";
}
/* PAGINE DIARIO */

.diary-text {
  font-size: 1.2rem;
  line-height: 1.6;
  flex-grow: 1;
}

/* ELEMENTO PAGINAZIONE DEL DIARIO */
.diary-pagination .page-item .page-link {
  color: #4a3f35;
  background-color: #f0ede6;
  border: 1px solid #d8c79a;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  margin: 0 4px;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Hover */
.diary-pagination .page-item .page-link:hover {
  background-color: #f3e8c9;
  border-color: #b98a12;
  color: #4a3f35 !important;
}

/* Active */
.diary-pagination .page-item.active .page-link {
  background-color: #e6b800;
  border-color: #b98a12;
  color: white;
  font-weight: bold;
}

/* Disabled */
.diary-pagination .page-item.disabled .page-link {
  opacity: 0.5;
  cursor: not-allowed;
}
/* COPERTINA DIARIO */
.diary-wrapper {
  background-color: #975129 !important;
  width: 100% !important;
  max-width: 1400px !important;
  margin: 0 auto !important;
  padding: 30px 80px !important;
  border-radius: 20px !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15) !important;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

/* Tablet */
@media (max-width: 992px) {
  .diary-wrapper {
    max-width: 900px !important;
    padding: 25px 15px !important;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .diary-wrapper {
    max-width: 100% !important;
    padding: 10px !important;
    border-radius: 12px !important;
    overflow: hidden !important;
  }
}
/* PAGINA */
/* Desktop */
.diary-page-size {
  width: 100% !important;
  max-width: 550px !important;
  margin: 0 auto !important;
}

/* Tablet */
@media (max-width: 992px) {
  .diary-page-size {
    max-width: 450px !important;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .diary-page-size {
    max-width: 100% !important;
    width: 100% !important;
  }
}
/* FLIPBOOK */
.diary-book {
  width: 1100px !important;
  max-width: 1100px !important;
  margin: 0 auto !important;
  position: relative;
  overflow-y: hidden !important;
}
@media (max-width: 992px) {
  .diary-book {
    width: 900px !important;
    max-width: 900px;
    transform: scale(0.9) !important;
    transform-origin: top center !important;
  }
}
@media (min-width: 769px) {
  .diary-book {
    overflow: visible !important;
  }
}
@media (max-width: 768px) {
  .diary-book {
    width: 350px !important;
    max-width: 350px !important;
    transform: scale(1) !important;
    margin: 0 auto !important;
    overflow: hidden !important;
  }
}
@media (max-width: 480px) {
  .diary-book {
    width: 320px !important;
    max-width: 320px !important;
  }
}
@media (max-width: 768px) {
  .diary-book .page {
    width: 100% !important;
    max-width: 100% !important;
  }
}
/* Immagine nel diario */
.card-diario img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.card-diario {
  height: 250px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fffdf7;
  display: flex;
  align-items: stretch;
}
.istruzioni-box {
  background: #fff8e6;
  border-left: 4px solid #e6b800;
  border-radius: 6px;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

/* altro */
.hero-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  padding: 2rem 4rem;
  gap: 2rem;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  z-index: 2;
}

.hero-image {
  flex: 1;
  height: 100%;
  background-image: url("./assets/img/bg-tempio2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .hero-split {
    height: 70vh;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* L'immagine diventa sfondo della hero */
  .hero-split::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./assets/img/tempio-dioscuri2.jpg");
    background-size: cover;
    background-position: center 70%;
    filter: brightness(0.85);
  }

  /* Nascondo il div immagine */
  .hero-image {
    display: none;
  }

  /* Testo centrato sopra */
  .hero-text {
    max-width: 90%;
    text-align: center;
    color: #2a2a2a;
    position: relative;
    z-index: 2;
    padding: 1rem 1.5rem;
    background: rgba(255, 248, 230, 0.75);
    border-radius: 12px;
    backdrop-filter: blur(2px);
  }
}
