/* BACKGROUND CON LA TEXTURE PAGINA ORIZZONTALE */
.page-background {
  background: url("/page-bg.svg");
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.page-background-home {
  background: url("/page-bg.svg");
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-position: bottom center;
}

.page-background-v {
  background-image: url("/page-bg.svg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
/* CURSOR POINTER */
.pointer {
  cursor: pointer;
}

/* NAVBAR */
.navbar-color {
  background-color: #4a3f35 !important;
  color: #f2e8cf !important;
}
.navbar-color .navbar-nav .nav-link,
.navbar-color .navbar-brand {
  color: #f2e8cf !important;
}

.navbar-color .navbar-nav .nav-link:hover,
.navbar-color .navbar-brand:hover,
.navbar-color .navbar-nav .nav-link.active,
.navbar-color .navbar-brand.active {
  color: #e6b800 !important;
}

.dropdown-taccuino .dropdown-menu .dropdown-item.active,
.dropdown-taccuino .dropdown-menu .dropdown-item:active {
  background-color: #f5f1ea !important;
  color: #4a3f35 !important;
}
.dropdown-taccuino .dropdown-menu .dropdown-item:hover {
  background-color: #e6b800 !important;
  color: #4a3f35 !important;
}
/* FOOTER */
.footer-color {
  background-color: #3b332c;
  color: #f2e8cf;
}
.link {
  color: #d8c79a;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  color: #e6b800;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.5);
}
/* TESTI */
.handwritten {
  font-family: "Caveat", cursive;
  color: #4a3f35;
}
/* testo colore oro */
.oro {
  color: #e6b800;
  font-weight: 600;
}

.bg-oro {
  background-color: #e6b800;
  color: #4a3f35;
}
/* FORM */
/* form login */
.page-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 420px;
  min-height: 40vh;
  max-height: 90vh;
  margin: 5vh auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-y: auto; /* scroll se il contenuto straborda */
}
.page-bg p {
  line-height: 1.4;
}

/* form registrazione */
.form-bg {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 420px;
  min-height: 50vh;
  max-height: 90vh;
  margin: 5vh auto;
  padding: 30px;
  padding-bottom: 60px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
/* MESSAGGI DI ERRORE  */
.messages-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.messages-col {
  max-width: 420px;
}

/* Mobile */
@media (max-width: 576px) {
  .page-bg {
    padding: 24px;
    max-width: 340px;
    min-height: 40vh;
    max-height: 60vh;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .page-bg {
    max-width: 380px;
    min-height: 50vh;
    max-height: 90vh;
  }
}

/* PER IL COMPONENT GALLERY */
/* .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  padding: 20px 0;
}

.gallery-item {
  overflow: hidden;
  border-radius: 12px;
}

.gallery-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
} */

/* HOME */

/* Container cliccabili */
.clickable-container {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable-container:hover {
  transform: scale(1.02);
}

/* BUTTON IN STILE CERALACCA */
.wax {
  background: #ce0000;
  background: -moz-radial-gradient(center, #ce0000 0%, #a60000 100%);
  background: -webkit-radial-gradient(center, #ce0000 0%, #a60000 100%);
  background: radial-gradient(ellipse at center, #ce0000 0%, #a60000 100%);
  border: 7px double #c50000;
  border-radius: 50%;
  padding: 20px 10px;
  color: white;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.5),
    0 6px 12px rgba(0, 0, 0, 0.4);
  min-width: 80px;
  min-height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.wax:hover {
  transform: scale(1.07);
  box-shadow:
    inset 0 0 6px rgba(0, 0, 0, 0.6),
    /* incavo uniforme */ 0 4px 8px rgba(0, 0, 0, 0.4); /* ombra esterna */
}

.wax:active {
  transform: scale(0.95);
}

/* PROFILO PERSONALE */
.profile-layout {
  overflow-x: hidden;
}

/* Avatar profilo */
.polaroid-card {
  width: 100%;
  max-width: 220px;
  border: none;
  background: #fff;
  padding: 10px 10px 20px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 8px 20px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  margin: 0 auto;
}

.polaroid-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
}

.polaroid-caption {
  margin-top: 10px;
  font-size: 1.1rem;
}
/* Medaglie del profilo */
.medaglia-wrapper {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  background: #fffdf7;
  border: 2px solid #d4c7a1;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 6px 12px rgba(0, 0, 0, 0.15),
    inset 0 0 6px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.medaglia-icona {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.list-group-item {
  overflow-x: hidden;
}
/* PAGINA ESPLORA */
.selected-monumento {
  background-color: #f0ede6 !important;
  border-left: 6px solid #e6b800 !important;
  font-weight: 600 !important;
  transition: all 0.25s ease !important;
}
/* card che contiene l'immagine del monumento */
.card-monumento {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fffdf7;
}

/* Placeholder per quando l'img non è presente */
.placeholder-foto {
  width: 100%;
  height: 300px;
  background: #f0ede6;
  border: 2px dashed #d8c79a;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: #6b5e52;
}

/* Mobile */
@media (max-width: 768px) {
  .placeholder-foto {
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .card-monumento {
    max-width: 100%;
  }
}

/* PAGINA ADMIN */
.lista {
  cursor: pointer;
  padding: 10px 0;
  font-size: 1.2rem;
  border: none;
  background: transparent;
}

.lista:hover {
  color: black;
}

.active-lista {
  font-weight: bold;
  color: black;
  border-left: 4px solid #c9a86a !important;
  padding-left: 8px;
}

/* menu laterale pannello amministratore*/
/* Desktop*/
.admin-sidebar {
  min-height: 100dvh;
  position: relative;
  background: #fff;
  box-shadow: inset -6px 0 8px rgba(0, 0, 0, 0.08);
}

/* Mobile */
@media (max-width: 768px) {
  .admin-sidebar {
    min-height: auto;
    height: auto;
  }
}

.istruzioni {
  max-width: "400px";
  width: "100%";
  margin: "0 auto";
  text-align: "justify";
}
