@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

#root {
  min-height: 100vh; /* occupa tutta l’altezza della finestra */
  background-color: #f2e8cf;
  color: #4a3f35;
  font-family: "EB Garamond", serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.page-background {
  min-height: 100vh;
  background-image: url("/page-bg-or.svg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 200px; /* spazio per il disegno */
}
