@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

#root {
  min-height: 100vh; /* occupa tutta l’altezza della finestra */
  background-color: #dcd6c9;
  color: #4a3f35;
  font-family: "EB Garamond", serif;
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
}
